* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.header {
  background-color:#FFE0DB;
  padding: 15px 30px;
}

.caixa-img-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.caixa-img-logo img {
  width: 101px;
  height: 52px;
  height: auto;
  display: block;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.pesquisa {
  flex: 1;
  margin: 0 20px;
  border: #AC908C 1px solid;
 border-radius: 20px;
}

.pesquisa input {
  background-color:#D6B8B4;
  width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}



.icons button {
  background-color:  #D6B8B4;
  border: #AC908C 1px solid;
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.icons button:hover {
  background-color: #d9a8a0;
}


.menu {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 40px;
  border: none;
}

.menu a {
  text-decoration: none;
  color: #757070;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s;
  padding: 10px 25px;
}

.menu a:hover {
  color: #000000;
  font-weight:bold;   
}
