*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.inter- {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 20px;
}

li{
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
   
}

.caixa-img-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: auto;
    border-radius: 0%;
}

.search{
    color: black;
    border: 1px solid #AC908C;
    border-color: gray;
    width: 976px;
    height: 39px;
    padding: 10px;
    border-radius: 20px;
    background-color:#D6B8B4;
    box-sizing: border-box;
}

